.about-container {
    width: 100%;
    height: 100vh;
    background:rgb(54, 58, 69);
    color:rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.about-header {
    height: 15%;
    font-size: 32px;
}

.about-body pre {
    font-family: 'Poppins', sans-serif;
}

.about-body {
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    
}

