.page {
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    height: 460px;
    /* position: absolute;
    top: 25%; */
    /* left: 50%; */
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 20px 40px;
    align-items: center;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 36px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 100%;
    text-align: left;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 16px;
    transform: translateY(-50%);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover {
    background: #eff4ff;
    transition: all 0.2s ease-out;
    
}

.wrapper .gcs-text {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}

.gcs-text p {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .guest-text {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}

.guest-text p {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.guest-text p:hover {
    color: #3f4bee;
    cursor: pointer;
}