.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbarul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarul img {
  width: 24px;
  margin: 5px;
}

.navbar li{
  height: 50px;
}

.navbar .nav-links {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.navbar .nav-logo {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;

}
.navbar .nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar li:first-child:hover {
  border-bottom: none;
  transition: none;
  background: none;

}

.navbar-container #show {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-container #show {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: linear-gradient(90deg, rgba(28, 27, 27, 0.95) 0%, rgba(26, 23, 23, 0.95) 100%);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.navbar-container #hide {
  display: none;
}


.sidebar li {
  width: 100%;
}

.sidebar .nav-links {
  width: 100%;
}

.menu-icon {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sidebar button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10%;
  padding-top: 5%;
}

.menu-icon {
  display: none;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

@media(max-width: 400px) {
  .navbar-container #show {
    width: 100%;
  }
}