.live-vid-container {
    background: rgb(54, 58, 69);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.live-vid-container h1 {
    text-align: center;
    position: fixed;
    top: 10%;
    color: rgb(214, 214, 214);
}

.live-vid-container div {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-vid-container img {
    width: 55%;
}

@media(max-width: 1050px) {
    .live-vid-container img {
        width: 60%;
    }
}

@media(max-width: 850px) {
    .live-vid-container img {
        width: 70%;
    }
}

@media(max-width: 620px) {
    .live-vid-container img {
        width: 80%;
    }
}

@media(max-width: 370px) {
    .live-vid-container h1 {
        font-size: 20px;
    }

}